---
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout title="AREA44" description="This is AREA44's website.">
  <section
    class="container relative grid items-center gap-6 pb-8 pt-6 md:mx-8 md:py-10"
  >
    <div class="flex max-w-[980px] flex-col items-start gap-2">
      <h1
        class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl"
      >
        Hello humans, we are @AREA44
      </h1>
      <p class="leading-7 [&:not(:first-child)]:mt-6">
        AREA44, created by torn4dom4n, is an innovative collective that thrives
        on building intriguing and captivating projects. With a plethora of
        open-source repositories, this organization aims to assist developers.
        With a diverse range of projects, the organization continuously delves
        into various domains, ensuring an exciting and ever-evolving landscape
        of possibilities. Embracing collaboration and fostering a spirit of
        exploration, AREA44 GitHub Organization is a hub for those seeking to
        engage and contribute to the world of coding and development.
      </p>
    </div>
  </section>
</BaseLayout>
